---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Alen Aslani</div>
    <div class="text-3xl py-3 font-bold">Software Developer</div>
    <div class="py-2">
      <text class="text-lg">
        Welcome to my personal portfolio. I build things with code and share what I learn along the way.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:aslani.alen29@gmail.com"> Let's connect!</a>
      <a href="/projects" class="btn btn-outline ml-5">
        View My Work
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Killa"
    img="/killa.rs.webp"
    desc="Designed and developed a modern brand presentation website for Killa, with a strong emphasis on visual design, structure, and overall brand experience. The website includes e-commerce functionality, email handling through Resend, and routing powered by TanStack Start."
    url="https://killa.rs"
    target="_blank"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Drip N Drill"
    img="/post_img.webp"
    desc="A modern streetwear e-commerce project focused on strong brand presentation, product discovery, and a smooth online shopping experience. Built using Laravel , MySQL, Inertia.js, and Vue.js, combining a solid backend architecture with a responsive and clean frontend experience."
    url="https://github.com/alenaslani99/dripndrill"
    target="_blank"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Quaestio"
    img="/quaestio.webp"
    desc="A full-stack SaaS survey platform focused on form creation, questionnaire management, and intuitive data collection workflows. Developed using Laravel, MySQL, Inertia.js, and Vue.js, and includes AI-assisted question generation through LLM."
    url="https://github.com/alenaslani99/quaestio"
    target="_blank"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
