---
const { sideBarActiveItemID } = Astro.props;
const linkClass = "py-3 text-base";
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <li><a class={linkClass + (sideBarActiveItemID === "home" ? " active" : "")} href="/">Home</a></li>
  <li><a class={linkClass + (sideBarActiveItemID === "projects" ? " active" : "")} href="/projects">Projects</a></li>
  <li><a class={linkClass + (sideBarActiveItemID === "blog" ? " active" : "")} href="/blog/">Blog</a></li>
  <li><a class={linkClass + (sideBarActiveItemID === "cv" ? " active" : "")} href="/cv">CV</a></li>
  <li>
    <a class={linkClass} href="mailto:aslani.alen29@gmail.com" target="_blank" referrerpolicy="no-referrer-when-downgrade">Contact</a>
  </li>
</ul>
